{% extends 'base_admin.html.twig' %}

{% block title %}
	{{ titre }}
{% endblock %}

{% block body %}
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card shadow-sm">
				<div class="card-header bg-primary text-white">
					<h4 class="mb-0">
						<i class="fas fa-microphone-alt me-2"></i>
						{{ titre }}</h4>
				</div>
				<div class="card-body p-4">
					{{ form_start(form, {action: form_action|default(''), attr: {enctype: 'multipart/form-data'}}) }}
						{% include 'partials/_form_fields.html.twig' %}
						<div class="d-flex gap-2 mt-4">
							<button type="submit" class="btn btn-primary">
								<i class="fas fa-save me-2"></i>Enregistrer
							</button>
							<a href="{{ path('admin_conference_index') }}" class="btn btn-secondary">
								<i class="fas fa-arrow-left me-2"></i>Retour
							</a>
						</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
